@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-background-1: #ffffff;
    --color-background-2: #f6f6f6;
    --color-background-3: #eeeeee;
    --color-control-1: #e0e0e0;
    --color-control-2: #e9e9e9;
    --color-control-3: #f3f3f3;
    --color-border: #e0e0e0;
    --color-foreground-1: #363636;
    --color-foreground-2: #6f6f6f;
    --color-foreground-3: #949494;
    --color-foreground-4: #b7b7b7;
    --color-foreground-transparent-1: rgba(255,255,255,0.48);
    --color-foreground-transparent-2: rgba(255,255,255,0.24);
    --color-foreground-transparent-3: rgba(255,255,255,0.12);
    --color-primary-1: #3485e4;
    --color-primary-2: #337ad1;
    --color-primary-3: #3272c2;
    --color-primary-4: #316ab4;
    --color-primary-transparent-1: rgba(52,133,228,0.48);
    --color-primary-transparent-2: rgba(52,133,228,0.24);
    --color-primary-transparent-3: rgba(52,133,228,0.12);
    --color-negative-1: #ff491c;
    --color-negative-2: #e9441b;
    --color-negative-3: #d8411b;
    --color-negative-4: #c93d1a;
    --color-negative-transparent-1: rgba(255,73,28,0.48);
    --color-negative-transparent-2: rgba(255,73,28,0.24);
    --color-negative-transparent-3: rgba(255,73,28,0.12);
    --color-warning-1: #eb6404;
    --color-warning-2: #d65c08;
    --color-warning-3: #c7560b;
    --color-warning-4: #b8510d;
    --color-warning-transparent-1: rgba(242,103,2,0.48);
    --color-warning-transparent-2: rgba(242,103,2,0.24);
    --color-warning-transparent-3: rgba(242,103,2,0.12);
    --color-positive-1: #21a243;
    --color-positive-2: #21953e;
    --color-positive-3: #228a3a;
    --color-positive-4: #228037;
    --color-positive-transparent-1: rgba(24,204,81,0.48);
    --color-positive-transparent-2: rgba(24,204,81,0.24);
    --color-positive-transparent-3: rgba(24,204,81,0.12);

	--shadow-1:0 4px 4px rgba(0,0,0,0.2);
	--shadow-2:0 4px 8px rgba(0,0,0,0.2);
	--shadow-3:0 4px 16px rgba(0,0,0,0.2);
	--shadow-4:0 4px 24px rgba(0,0,0,0.2);

	--spacing-1:8px;
	--spacing-2:16px;
	--spacing-3:24px;
	--spacing-4:32px;
	--spacing-5:40px;
	--spacing-6:48px;
	--spacing-7:56px;
	--spacing-8:64px;
	--spacing-9:72px;
	--spacing-10:80px;
	--spacing-11:88px;
	--spacing-12:96px;
	--spacing-half:4px;

	--border-radius-1:4px;
	--border-radius-2:6px;
	--border-radius-3:8px;
	--border-radius-4:10px;

	--font-family-sans-serif: 'IBM Plex Sans',sans-serif;
    --font-family-serif: 'IBM Plex Serif',serif;
    --font-family-monospace: 'IBM Plex Mono',monospace;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-desktop-heading-1: 40px;
    --font-size-desktop-heading-2: 32px;
    --font-size-desktop-heading-3: 24px;
    --font-size-desktop-heading-4: 20px;
    --font-size-desktop-heading-5: 16px;
    --font-size-desktop-heading-6: 12px;
    --font-size-desktop-text-xxsmall: 10px;
    --font-size-desktop-text-xsmall: 12px;
    --font-size-desktop-text-small: 14px;
    --font-size-desktop-text-medium: 16px;
    --font-size-desktop-text-large: 18px;
    --font-size-desktop-text-xlarge: 20px;
    --font-size-desktop-text-xxlarge: 24px;
}

body{
	font-family: Roboto;
	background-color: var(--color-background-2);
}



.header, .main, .footer{
    transition: 100ms;
}
body.open-sidebar .header, body.open-sidebar .main, body.open-sidebar .footer{
	padding-left:240px;
}
body.open-sidebar .header .left .logo{
	visibility: hidden;
	transition: visibility 100ms;
}
@keyframes widthShrink{
	0%{}
	100%{width:0;}
}
body.open-sidebar .header .left .logo img{
	opacity:0;
	transition:opacity 10ms;
	animation: widthShrink 100ms;
}

.header{
	padding-left: var(--spacing-6);
	background-color: var(--color-background-1);
	position: fixed;
	top:0;
	left:0;
    z-index: 1000;
	width:100vw;
	height: var(--spacing-8);
	display: flex;

	align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.header .left{
	margin-right:auto;
}
.header .center{
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 700px;
    padding-right: var(--spacing-1);
    padding-left: var(--spacing-1);
}
.header .right{
    padding: 0 var(--spacing-1);
    margin-left: auto;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: var(--spacing-1);
}

.header .center .search{
	background-color: var(--color-background-2);
	border-radius: var(--border-radius-3);
	width:100%;
	height: var(--spacing-6);
	overflow-x: auto;

	display: flex;

	align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.header .center .search:focus-within{
	box-shadow: var(--shadow-3);
	background-color: var(--color-background-1);
}

.search input, .search input:focus{
	width:100%;
	border:none;
	background-color: unset;
	outline: none;
    color: var(--color-foreground-1);
}

.search .ico{
	color:var(--color-primary-1);
	width:var(--spacing-3);
	text-align: center;
	height:1rem;
}
.search .ico svg{
	height:.8rem;
}
.header .logo{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

	-webkit-text-decoration: none;
    text-decoration: none;
	color:black;
}
.header .logo img{
	transition:opacity 90ms;
	width: 32px;
    height: 32px;
}

.toggle{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    width: 48px;
    height: 60px;
}
.toggle button{
	background-color: transparent;
    border: 0 none;
	
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    width: 48px;
}
.toggle svg{
	color:var(--color-foreground-2);
	width:18px;
}

.donate button{
	background-color: var(--color-control-3);
    border: 1px solid var(--color-control-1);
    color: var(--color-foreground-1);

	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: var(--font-size-desktop-text-small);
    font-family: var(--font-family-sans-serif);
    border-radius: var(--border-radius-2);
    cursor: pointer;
    outline: 0;
    padding: var(--spacing-1);
    text-align: center;
    -webkit-transition: 0.1s all ease-in-out;
    transition: 0.1s all ease-in-out;
    font-weight: var(--font-weight-medium);
    width: auto;
    white-space: nowrap;
    line-height: var(--font-size-desktop-text-small);
}
.donate button:hover {
    background-color: var(--color-control-2);
    border: 1px solid inherit;
    color: var(--color-foreground-1);
}

.donate svg{
	height:14px;
	width:14px;
}

.donate .ico{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: currentColor;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
}

.donate span{
    margin: 0 0 0 var(--spacing-half);
}


.sidebar{
	position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
	-webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 1001;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--color-background-1);
    border-right: 1px solid var(--color-control-3);
    -webkit-transition: -webkit-transform 0.2s;
    -webkit-transition: transform 0.2s;
    transition: transform 0.2s;
}

.sidebar.open{
	-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.sb-header{
	padding-left: 48px;
    height: 60px;
    width: 240px;
	opacity: 0;
    -webkit-transition-delay: 20ms;
    transition-delay: 20ms;
}
.sb-header.open{
	opacity: 1;
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
}

.sb-header .content{
	height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;

    align-items: center;
    position: relative;
    padding-right: var(--spacing-1);
}

.sb-header .avatar{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.avatar .user-image{
	webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: var(--spacing-4);
    height: var(--spacing-4);
    margin-right: var(--spacing-1);
}

.user-image span{
	background-image:url("https://storage.googleapis.com/replit/images/1603869666037_ab9d03a2af2886148c9fdd3537792859.jpeg");
	width: 100%;
	height: 100%;
	display: block;
    background-size: cover;
    border-radius: 100%;
    background-color: #fff;
    background-position: center;
    position: relative;
    border: 1px solid var(--color-border);
}

span.user-name{
	font-size: 0.9rem;
	font-weight: lighter;
}

.sb-container{
	overflow-y: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sb-container .top-container{
	padding: var(--spacing-1);
    margin-bottom: 20px;
}
.sb-container a{
	display: block;
    padding: var(--spacing-1);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: var(--font-size-desktop-text-medium);
    color: var(--color-foreground-1);
    border-radius: var(--border-radius-1);
    margin-bottom: var(--spacing-half);

    -webkit-text-decoration: none;
    text-decoration: none;
}
.sb-container a.active{
	color: var(--color-foreground-1);
    background-color: var(--color-primary-transparent-3);
    border-right: 3px solid var(--color-primary-1);
}
.sb-container a:hover:not(.active){
    background-color: var(--color-control-3);
    -webkit-transition: color 0.1s;
    transition: color 0.1s;
}

.sb-container .top-container a span.ico{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: var(--spacing-3);
    height: var(--spacing-3);
    margin-right: var(--spacing-1);
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    opacity: 0.75;
    color: var(--color-foreground-1);
}

.sb-container a span.ico svg{
	height:20px;
}

.sb-container a div.label{
	font-size: var(--spacing-2);
}


/* -------------- .Main ------------- */


.main{
	padding-top:var(--spacing-8);
}

.main .one{
    padding-top: 60px;
    padding-bottom: 60px;
}

.main .two:first-child{
	padding-top:0;
}

.main .two{
	padding-top:40px;
}

.main .three{
	margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}

.main .three section{
	display: grid;
    grid-row-gap: 10px;
}

section h3{
    font-size: var(--font-size-desktop-heading-3);
    font-family: var(--font-family-sans-serif);
    font-weight: var(--font-weight-bold);
    color: var(--color-foreground-1);
    text-align: left;
}
section .list{
    display: grid;
    grid-row-gap: 10px;
	grid-column-gap: 20px;
    grid-template-columns: repeat(3,1fr);
}

section .list .item{
	cursor: pointer;
	padding: 0px 5px 10px;
    margin-bottom: 0px;
	max-width:380px;
}
.list .item .card-wrapper strong{
	color:var(--color-foreground-1);
}
.list .item .card-wrapper p{
	max-height:60px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list .item .card-wrapper{
	padding: var(--spacing-1);
    position: relative;
    pointer-events: none;
    background-color: var(--color-background-1);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-2);
	overflow: hidden;
}

.card-wrapper .card-image{
	margin:calc(-1 * var(--spacing-1));
	margin-bottom:var(--spacing-1);
	height: 80px;
	overflow: hidden;
}
.card-image img{
	width:100%;
	margin-top:-60px;
}