{% load tailwind_tags %}
{% load static %}
{% load static compress %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <meta name="description" content="Interactive math courses with gamification">
    <meta name="keywords" content="math, course, interactive, gamefication, battleofmath, battle of math">
    <title>
        {% block head_title %}Battle of Math{%if not request.user.is_authenticated %} – Interactive math courses with gamification{% endif %}{% endblock head_title %}
    </title>
    <link rel="shortcut icon" href='{% static "images/favicon.ico" %}' type="image/png">
    <!-- CSS -->
    {% compress css %}
        {% tailwind_css %}
    {% endcompress %}
    <!-- JS -->
    {% compress js %}   
        <script src='{% static "js/scripts.js" %}'></script>
    {% endcompress %}
    {% block head_extra %} {% endblock head_extra %}
</head>
<body >
    <div class="min-h-screen {% if profile %}bg-sky-400{% else %}bg-white{% endif %}">
    {% include 'header.html' %}
    {% block content %}{% endblock content %}
    {% include 'footer.html' %}
    </div>
{% compress js %}   
<script src='{% static "js/myscripts.js" %}'></script>
{% endcompress %}

</body>
</html>