
{% load static %}
{% load static compress %}
<header class="shadow flex justify-center before:absolute">
    <nav class="px-6 py-4 w-full md:w-10/12 relative">
        <div class="lg:items-center lg:justify-between lg:flex">
            <div class="flex items-center justify-between">
                <div>
                    <a class="text-2xl font-bold text-gray-800 dark:text-white lg:text-3xl hover:text-gray-700 dark:hover:text-gray-300" href="/">Battle of Math</a>
                </div>
        
                <!-- Mobile menu button -->
                <div class="lg:hidden">
                    {% comment %} <button id="mobMenuBtn" type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="Toggle menu">
                        <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                            <path d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                        </svg>
                    </button> {% endcomment %}
                </div>
            </div>
        
            <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
            <div id="mobMenu" class=" flex-col mt-2 -mx-2 lg:mt-0 lg:flex-row lg:block">
                <a class="px-2 py-2 text-sm text-gray-800 rounded-md dark:text-gray-200 hover:bg-gray-900 hover:text-gray-100 lg:mx-2">Library</a>
                <a class="px-2 py-2 text-sm text-gray-800 rounded-md dark:text-gray-200 hover:bg-gray-900 hover:text-gray-100 lg:mx-2">Adentures</a>
                <a  class="px-2 py-2 text-sm text-gray-800 rounded-md dark:text-gray-200 hover:bg-gray-900 hover:text-gray-100 lg:mx-2">Land Battles</a>
                {% if profile %}
                    <a class="cursor-pointer px-2 py-2 text-sm text-gray-800 rounded-md dark:text-gray-200 hover:bg-gray-900 hover:text-gray-100 lg:mx-2">
                        {{ profile.first_name }}
                        <img style="margin-top:-3px;" class="inline-block rounded-full w-6"
                               src="{% if profile.image %}{{ profile.image.url }}{% else %}{% static 'images/mascot_circle.png' %}{% endif %}"
                               alt="">
                    </a>
                {% else %}
                    <a href="{% url 'main:login_page' %}" class="px-2 py-2 text-sm text-gray-800 rounded-md dark:text-gray-200 hover:bg-gray-900 hover:text-gray-100 lg:mx-2">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>

    
</header>